/ExemploSwitch/nbproject/private/
/ExemploSwitch/build/
/ExemploOpTernario/nbproject/private/
/ExemploOpTernario/build/
/ExemploSwitch2/nbproject/private/
/ExemploSwitch2/build/
/ExemploBreak/nbproject/private/
/ExemploBreak/build/
/ExemploContinue/nbproject/private/
/ExemploContinue/build/